<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DR.NummerStripper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DR.NummerStripper.Properties.Settings>
            <setting name="ProductionNumberLinks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MA;http://ma:7000/#!/search/item?q={prdNbr}</string>
                        <string>OD PubPlan;https://odpubplan/Publication/Search?query={prdNbr}</string>
                        <string>PSDB Admin;http://mu.net.dr.dk/admin/#searchString={prdNbr}&amp;searchCategories=10%2C20%2C30%2C90&amp;limit=20&amp;channelType=TV%2CRADIO</string>
                        <string>UQC;http://mccpweb/qclogapi/overview?pro_number={prdNbr}</string>
                        <string>Manis;http://manis-od.net.dr.dk/api/mediaassets?productionNumber={prdNbr}</string>
                        <string>Marvin;http://marvin/?environment=Production#!filter={prdNbr}</string>
                        <string>WOCache od pubs;http://wocache/api/od-publications/search/findByProductionNumber?productionNumber={prdNbr}</string>
                        <string>WOCache flow;http://wocache/api/flow-publications/search/findByProductionNumber?productionNumber={prdNbr}</string>
                        <string>OD3 LogViewer;http://odps/od-dashboard/LogViewer?correlationId={prdNbr}</string>
                        <string>OD3 Pub Viewer;http://odps/od-dashboard/PublicationViewer?productionId={prdNbr}</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DR.NummerStripper.Properties.Settings>
    </applicationSettings>
</configuration>